

.btn-outline-primary {
    color: #3097D1;
    background-color: transparent;
    background-image: none;
    border-color: #3097D1;
    margin-top: 2px;
  }

.btn {
    float: right;
    padding: 0.25rem 0.5rem;
    line-height: 1.5;
    border-radius: 0.5rem;
    margin-top: 2%;
    width: 70px;
    height: 35px;
  }
  