.topic-avatar-photo{
    height:50px;
    float:left;
    margin-right:20px
    
}
.topic-author-name{
    color:black;
    font-size:16px;
    font-weight:bold;
}
.topic-text{
    color:black;
}
.topic-timestamp{
    color:#3097D1;
    font-size:13px;
    
}