li{
  list-style-type: none;
  color: rgb(72, 72, 72);

}

.user_props {
  color: #3097D1;
}

.card-header {
  background-size: cover;
  background-image: url(../../assets/connection.jpg);
}


h3{
  color: rgb(72, 72, 72);
  text-align: center;
  align-items: center;
}

h6 {
  color:  rgb(72, 72, 72);
}

.glyphicon {
  font-size: 15px;
}

.icon {
}