.navbar {
  position: fixed;
  top: 0;
  display: flex;
  background-color: #d9534f;
  border: transparent;
  width: 100%;
  height: 64px;
  border-bottom-style: solid;
  border-bottom-width: 0.3px;
  border-bottom-color: aliceblue;
  border-radius: 0;
  z-index: 1030;
  margin: 0 auto;  
  padding: 0.5%;
 
}

.Header-logo {
  width: 50px;
  align-items: center;
}

.navbar-side-left, .navbar-side-right{ 
  display: flex;
  align-items: center;
}



input {

  border: 1px solid gray;
  border-radius: 4px;
  height: 35px;
  color: gray;
  padding: 10px;
  align-items: center;
}

.dropdown {
  
}

.login-btn {
  display: inline-block;
  white-space: nowrap;
  border: 1px transparent gray;
  border-radius: 10ch;
  padding: 0%;
  border-style: solid;
  width: 45px;
  margin: 0 auto;
  margin-right: 20px;
  margin-left: 30px;

}

.rounded-circle {
  border-radius: 50%;
}


/* 
    .navbar .nav >ul {
  padding-top: 20px;
  padding-bottom: 10px;
  color:#eee;
  }










@media (max-width: px) {
  .Header-logo {
    display: none;
  }
}  */